{% extends "layout.twig" %}

{% block title %}Initial Setup{% endblock %}

{% block heading %}Welcome! Create Your Admin Account{% endblock %}

{% block content %}
    <div class="box">
        <p class="mb-4">
            Since this is the first time you're running the admin panel, you need to create a password for the admin account.
        </p>
        <form method="post" action="{{ url_for('setup') }}">
            <div class="field">
                <label class="label" for="password">Password</label>
                <div class="control">
                    <input class="input" type="password" id="password" name="password" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="password_confirm">Confirm Password</label>
                <div class="control">
                    <input class="input" type="password" id="password_confirm" name="password_confirm" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Create Admin</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %} 